body{
    background-size: 100%;
    background-attachment:fixed;
}

#search_input{
    background: #f0f0f5;
    width: 100%;
}

#search{
    background-color: #f0f0f5;
}

#right_head_img{
    margin-top: 2px;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

#title_div{
    width: 90%;
    font-size: x-large;
    margin-left: 5%;
    margin-top: 0px;
}

#blog_title{
    width: 95%;
    float: left;
}

#back_home{
    width: 5%;
}

#button_div{
    width: 50%;
    margin: auto;
}

#publish{
    width: 30%;
    float: left;
}

#save{
    width: 30%;
    float: right;
}

.the_blog_label1{
    width: 80%;
    height: 20%;
    margin: auto;
    background: whitesmoke;
}

.the_blog_label1_title{
    font-size: x-large;
    width: 22%;
    height: 30px;
    float: left;
    margin-left: 0px;
    /*background: blue;*/
}

.the_blog_label1_check{
    width: 76%;
    height: 30px;
    float: left;
    margin-left: 5%;
    /*background: purple;*/
}

.add_labels{
    /*height: 60%;*/
    text-align: center;
    float: left;
}

.add_label_input{
    width: 70%;
    float: left;
    margin-left: 1%;
}

.the_blog_label1_show{
    width: 60%;
    height: 83%;
    float: left;
    margin-left: 25%;
    margin-top: 0.5%;
    /*background: deeppink;*/
}

.the_blog_label1_show_div{
    height: 17%;
    width: 100%;
    margin-top: 1.5%;
    float: left;
    margin-left: 0px;
    font-size: medium;
    font-family: "Meiryo UI", "YaHei Consolas Hybrid", Consolas, "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    /*background: #FFAA3E;*/
}

.labels_span{
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    background: white;
    border-radius: 8px;
}

.the_blog_label2{
    width: 80%;
    height: 20%;
    margin: auto;
    background: whitesmoke;
}

.the_blog_label2_title{
    font-size: x-large;
    width: 22%;
    height: 30px;
    float: left;
    margin-left: 0px;
    /*background: blueviolet;*/
}

.the_blog_label2_check{
    width: 76%;
    height: 30px;
    float: left;
    margin-left: 5%;
    /*background: purple;*/
}

.add_columns{
    /*height: 60%;*/
    text-align: center;
    float: left;
}

.add_column_selected{
    width: 70%;
    float: left;
    margin-left: 1%;
}

.the_blog_label2_add{
    width: 50%;
    height: 30px;
    float: left;
    margin-left: 30%;
    /*background: blue;*/
}

.the_blog_label2_show{
    width: 60%;
    height: 83%;
    float: left;
    margin-left: 25%;
    margin-top: 0.5%;
    /*background: deeppink;*/
}

.the_blog_label2_show_div{
    height: 17%;
    width: 100%;
    margin-top: 1.5%;
    float: left;
    margin-left: 0px;
    font-size: medium;
    font-family: "Meiryo UI", "YaHei Consolas Hybrid", Consolas, "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    /*background: #FFAA3E;*/
}

.columns_span{
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    height: 100%;
    background: white;
    border-radius: 8px;
}


.the_blog_label3{
    width: 80%;
    height: 30px;
    margin: auto;
    /*background: yellow;*/
}

.the_blog_label3_title{
    font-size: large;
    width: 22%;
    height: 30px;
    float: left;
    margin-left: 0px;
    /*background: greenyellow;*/
}

.the_blog_label3_check{
    width: 76%;
    height: 30px;
    float: left;
    margin-left: 5%;
    font-size: medium;
    /*background: purple;*/
}